.rp{
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.rp h1{
    font-size: 4rem;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
}
.rp p{
    font-size: 1.2rem;
    color: white;
}
.scroll{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 1rem;
}
.pj{
    background-color: #232639;
        width: 40rem;
    height: 100%;
    border-radius: 10px;
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
}
.imgP{
    width: 100%;
    height: 25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
}
.pj h2{
    height: 3rem;
    display: flex;
    color: white;
    align-items: end;
}
.pj span{
    display: block;
    width: 100%;
    height: 7rem;
    justify-content: center;
    align-content: center;
    color: white;
}
.btns{
    height: 3rem;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}
.btn1{
    background-color: black;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 10rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn2{
    display: flex;
    border: 1px solid rgb(192, 192, 192);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    width: 10rem;
    cursor: pointer;
}