.repaT{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.repaT h1{
    font-size: 4rem;
    font-family: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.repaT p{
    font-size: 1.2rem;
    color: white;
}
.scroll2{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 1rem;
}
.rpn{
    background-color: #232639;
    width: 40rem;
    height: 40rem;
    border-radius: 10px;
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
}
.imgR{
    width: 100%;
    height: 25rem;
    background-image: url('https://github.com/gODHyDRaX/img/blob/main/blaz-erzetic-g5f0BJq-FRs-unsplash.jpg?raw=true');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.rpn h2{
    height: 3rem;
    display: flex;
    align-items: end;
    color: white;
    font-size: 2rem;
}
.rpn span{
    display: block;
    width: 100%;
    color: white;
    height: 7rem;
    font-size: 1.2rem;
    justify-content: center;
    align-content: center;
}